<center>
	<br>
	<div style="width: 50%;">
		<form class="text-center border border-light p-5">
		    <p class="h4 mb-4">Login</p>
		    <!-- Name -->
		    <input type="text" ng-model="phone"  class="form-control mb-4" placeholder="phone">

		    <!-- Email -->
		    <input type="password" ng-model="password" class="form-control mb-4" placeholder="password">

		    <!-- Sign in button -->

		    <button class="btn btn-info btn-block" ng-click="postdata(phone,password)" type="submit"> Sign in</button>
		</form>
	</div>

	
</center>