<center>
<h3>Profile</h3>
</center>
<div ng-app="myApp" ng-controller="myCtrl">
	<div class="container" style="padding:5% 20%;">
		
		<div class="row">
			<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 column1">
				User Profile Pic : 
			</div>
			<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 column2">
				<img src="{{userprofilepic}}">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 column1">
				Name : 
			</div>
			<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 column2">
				{{name}}
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 column1">
				Age :
			</div>
			<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 column2">
				{{age}}
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 column1">
				Gender :
			</div>
			<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 column2">
				{{gender}}
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 column1">
				E-mail :
			</div>
			<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 column2">
				{{email}}
			</div>
		</div>
	</div>
</div>